<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% books.forEach(book => { %>
    <% if(book.read=== true) { %>
    <a  href="/books/<%= book.id %>">
      <img style="border-style: solid;border-color: rgba(60, 204, 60, 0.616);border-width: thick" class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
    </a> <% } 
     else { %>
      <a href="/books/<%= book.id %>">
      <img style="border-style: solid;border-color: rgba(228, 52, 52, 0.582);border-width: thick" class="book-cover <%= bookCoverClass %>" src="<%= book.coverImagePath %>">
    </a> 
    <% } %>
  <% }) %>
</div>